.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-160 {
  margin-bottom: 160px;
}

.line-h-120 {
  line-height: 1.2;
}

.line-h-150 {
  line-height: 1.5;
}

.font-w-700 {
  font-weight: 700;
}

.font-w-900 {
  font-weight: 900;
}

.text-14 {
  font-size: 14px;
}

.text-base {
  font-size: $font-base;
}

span.text-base {
  font-size: $font-base;
}

.text-20 {
  font-size: 20px;
}

.text-24 {
  font-size: 24px;
}

.text-32 {
  font-size: 32px;
}

.text-48 {
  font-size: 48px;
}

.text-80 {
  font-size: 80px;
}

.text-120 {
  font-size: 120px;
}

.color-black {
  color: $color-black;
}

.color-black-80 {
  color: #525252;
}

.color-black-60 {
  color: #919191;
}

.color-black-20 {
  color: #f2f2f2;
}

.color-white {
  color: #fff;
}
